.fullscreen {
    color: #898;
    font-size: 1.2em;
    font-family: arial, 바탕체, "Times New Roman", Serif;
    margin: 10px;
}

#progressbar div {
    background: #898;
}

div.navi_page {
    color: #898;
}

pages .contents-container .text {
    margin: 50px auto;
    width: 500px;
    height: auto;
    text-align: left;
    color: #898;
}

pages .contents-container .text h1 {
    color: #368369;
    font-family: arial, 바탕체, "Times New Roman", Serif;
}

pages .contents-container .text p {
    color: #9a9;
    font-family: AppleSDGothicNeo-Regular,NanumGothic, AppleGothic, "맑은 고딕", "굴림";
}